*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin
PhonePe_Statement_Aug2026_Sept2026.csv
gpay_statement_*.pdf
*_Statement_*.csv

*.ap_
*.aab

